chatDBServer/gpt-test.ipynb
chatDBServer/setting.py
chatDBServer/chatDBServer/DB/*
chatDBServer/chatDBServer/scenarios/*
chatDBServer/chatDBServer/scenarios_original/*

__pycache__/

chatGUI/src/setting.tsx
node_modules/
*.mp3

data/
images/
movies/
wavs/